* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: sans-serif;
}
.background {
  background-image: url(e632356ca75b49ffcb3dd81747aecedd.png);
  background-size: cover;
  background-position: left;
  background-color: #222831;
  height: 70vh;
  padding: 1%;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.imgone {
  height: 108px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #00adb5;
  border: 0px;
  cursor: pointer;
  border: none !important;
  padding: 1%;
  height: 46px !important;
  /* typography */
  font-family: Inter;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
  text-align: left;
}

.buttonone {
  height: 46px;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #00adb5;
  border: 0px;
  cursor: pointer;
}
.textone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 2em;
  color: white;
  height: 30%;
}
#animatedtext {
  animation: 5s linear infinite;
}
.headbutton {
  display: flex;
  height: 15%;
  align-items: flex-end;
  gap: 5%;
}
.buttontwo {
  display: flex;
  justify-content: center;
  /* margin-left: 29px; */
  align-items: center;
  border-radius: 15px;
  background-color: #00adb5;
  /* margin-top: 130px; */
  cursor: pointer;
  /* padding: 10px; */
}
.buttonthree {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #00adb5;

  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .background {
    height: 100vh;
  }
  .imgone {
    display: flex;
    justify-content: center;
    width: 71px;
    height: 71px;
  }
  .buttonone {
    display: none;
  }
  .textone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    height: 50%;
  }
  .ab {
    font-size: 40px;
    font-weight: 700;
  }
  .headbutton {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 25%;
    gap: 15%;
  }
  .buttontwo {
    font-family: sans-serif;
    padding: 0 2%;
  }
  .buttonthree {
    width: 155px;
  }
}

/* divisions 2 */
.seconddiv {
  background-color: #3c4656;
  height: 90vh;
}

.imgtwo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.texttwo {
  color: white;
  padding: 0 2%;
  font-size: 70px;
  width: 50%;
}
.par {
  color: white;
  padding: 0 2%;
  font-size: 45px;
  width: 50%;
}
.sectwobtn {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: row-reverse;
  flex-wrap: wrap;

  padding: 1%;
}
.images {
  display: flex;
  align-items: end;
  flex-wrap: wrap;

  gap: 30px;
  padding: 1%;
}

#imgbig {
  width: 476px;
  height: 476px;
}
#imgI {
  width: 155px;
  height: 161px;
}
#imgII {
  width: 155px;
  height: 177px;
}
.buttonfour {
  cursor: pointer;
  border: none;
  background-color: #00adb5;
  border-radius: 15px;
  width: 258px;
}

@media screen and (max-width: 768px) {
  .seconddiv {
    height: 70.5vh;
  }
  #imgbig {
    display: none;
  }
  .texttwo {
    font-size: 40px;
    height: 122px;
  }
  .par {
    font-size: 35px;
    height: 48px;
  }
  #imgI {
    width: 155px;
    height: 161px;
  }
  #imgII {
    width: 155px;
    height: 161px;
  }

  .sectwobtn {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2%;
  }
  .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
  }
}
/* divisions 3 */

.thirddiv {
  background-image: url(download1.png);
  background-size: cover;
  height: 100vh;
}
.imgthree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}
.imagesthree {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  gap: 30%;
}
.link {
  text-align: left;
  padding: 1%;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .thirddiv {
    height: 1440px;
  }
  .imgthree {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imagesthree {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    height: 90%;
  }
  #imgthree {
    height: 574px;
  }
  #imgforth {
    height: 574px;
  }
  .link {
    height: 5%;
    padding: 1%;
    font-size: 40px;
  }
}

/*divison 4*/

.csgo {
  background: #17171f;
  height: 85vh;
}
.mu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  padding: 2%;
}
.csgoo {
  display: none;
}
.linkkk {
  display: none;
}
.tex {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-size: 50px;
  font-weight: 700;
}
.line {
  display: flex;
  justify-content: center;
}
hr {
  border: 8px solid #fff;
  border-radius: 10px;
  width: 900px;
}
.csgoto {
  height: 50%;
}

.content-c {
  background: #17171f;
  height: 70vh;
}
.cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.git {
  display: none;
}

.he {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-size: 50px;
  font-weight: 700;
}
#one {
  display: none;
}

@media screen and (max-width: 768px) {
  .csgo {
    height: 2299px;
    background-color: #13131a;
  }

  .mu {
    display: grid;
    gap: 13px;
  }
  .mu img {
    height: 397px;
  }
  .tex {
    display: none;
  }

  .csgoo {
    display: flex;
    justify-content: center;
    color: antiquewhite;
    font-size: 50px;
    font-weight: 700;
  }
  .content-c {
    height: 1250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
  .cont {
    display: grid;
  }

  .he {
    font-size: 25px;
  }
  #one {
    display: inline-block;
  }
  #two {
    display: none;
  }

  .git {
    display: flex;
    align-items: flex-start;
    padding: 2%;
  }

  .line {
    display: none;
  }
}

/* division5 */
.contact {
  background-color: #3c4656;
  height: 50vh;
}
.contactcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: antiquewhite;
  font-size: 40px;
  font-weight: 700;
  height: 90%;
  gap: 15%;
}

.btniii {
  display: none;
}
.link2 {
  display: flex;
  align-items: flex-end;
  padding: 0 1%;
  color: #18191c;
}
.contactbutton {
  display: none;
}
@media screen and (max-width: 768px) {
  .contact {
    height: 65vh;
  }
  .contactcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }

  .link2 {
    display: none;
  }

  .contactbutton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    overflow: hidden;
  }
}
/* divisio6 */

.last {
  background-color: #1f1f29;
  height: 50vh;
}
.last1 {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.lastimage {
  width: 212px;
  height: 220px;
}
.lh {
  font-size: 50px;
  color: #fff;
}
.bh {
  font-size: 25px;
  color: #fff;
}
.th {
  font-size: 25px;
  color: #fff;
}
.rh {
  font-size: 50px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .last {
    height: 45vh;
  }
  .th {
    font-size: 20px;
  }
  .lastimage {
    display: none;
  }
  .rightcontent {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .last {
    padding: 2%;
  }
}
