/*divison 1*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: url(e632356ca75b49ffcb3dd81747aecedd.png);
  background-size: cover;
  background-position: left;
  background-color: #222831;
  height: 812px;
  /* width: 200vh; */
  /* margin: 0;
    padding: 0; */
}
.imgone {
  height: 108px;
  width: 109px;
  margin-top: 17px;
  margin-right: 120px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.buttonone {
  height: 46px;
  width: 155px;
  margin-top: 25px;
  margin-left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #00adb5;
  border: 0px;
  cursor: pointer;
}
.textone {
  color: white;
  height: 91px;
  width: 596px;
  margin-top: 170px;
  margin-left: 29px;
  font-weight: 700;
  font-size: 2em;
  /* size: 75px; */
  line-height: 90.77px;
}
.headbutton {
  display: flex;
}
.buttontwo {
  border-radius: 15px;
  background-color: #00adb5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  width: 230px;
  height: 40px;
  /* margin-top: 481px; */
  margin-left: 39px;
  margin-top: 130px;
  cursor: pointer;
}
.buttonthree {
  border-radius: 15px;
  background-color: #00adb5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  height: 46px;
  width: 155px;
  margin-left: 100px;
  margin-top: 130px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }
  .background {
    height: 844px;
  }
  .imgone {
    display: flex;
    justify-content: flex-start;
    width: 71px;
    height: 71px;
    margin-left: 17px;
  }
  .textone {
    align-items: center;
    margin-left: 75px;
    font-size: 15px;
  }
  .ab {
    font-size: 50px;
  }
  .buttonone {
    display: none;
  }
  .headbutton {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-left: 36px;
    /* margin-top: 123px; */
  }
  .buttontwo {
    display: flex;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 130px;
  }
  .buttonthree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 78px;
    margin-top: 135px;
  }
}

/*divison 2*/

.seconddiv {
  background-color: #3c4656;
  height: 545px;
}
.navtwo {
  display: flex;
  justify-content: space-between;
}
.texttwo {
  color: white;
  margin-left: 29px;
  /* margin-top: 818px; */
  font-size: 70px;
  width: 522px;
  height: 182px;
}
.par {
  color: white;

  margin: 29px;
  font-size: 45px;
}
.buttonfour {
  cursor: pointer;
  border: 0px;
  background-color: #00adb5;
  border-radius: 15px;
  margin-left: 61px;
  width: 250px;
  height: 46px;
  margin-top: 75px;
}
.img {
  display: flex;
  margin-top: 440px;
}
.imgI {
  width: 155px;
  height: 161px;
  margin-top: 195px;
}
.imgII {
  width: 155px;
  height: 161px;
  margin-top: 185px;
}
#imgtwo {
  width: 474px;
  height: 476px;
  margin-right: 70px;
  align-items: center;
  margin-top: 30px;
}
.imgtwo {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .seconddiv {
    height: 545px;
  }

  #imgbig {
    display: none;
  }
  /* .img imgI{
     
        width: 172px;
        height: 161px;
    } */

  /* .nab{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    } */
  .texttwo {
    font-size: 40px;
  }
  .par {
    font-size: 30px;
  }
  .imgtwo {
    align-items: center;
    margin-left: -500px;
    margin-top: -300px;
  }
  .buttonfour {
    margin-top: 300px;
    margin-left: 10px;
    width: 148px;
  }
}

/*divison 3*/

.thirddiv {
  background-image: url(download1.png);
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.imgthree {
  display: flex;
  gap: 150px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.link {
  margin: -50px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .thirddiv {
    height: 1250px;
  }
  .imgthree {
    display: grid;
    padding-top: 12px;
  }
  .link {
    font-size: x-large;
    margin-top: 350px;
  }
}

/*divison 4*/

.csgo {
  background: #17171f;
  height: 100vh;
}
.mu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
}
.csgoo {
  display: none;
}
.linkkk {
  display: none;
}
.tex {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-size: 50px;
  font-weight: 700;
  margin-top: 100px;
}
.line {
  border: 3px solid wheat;
  width: 700px;
  margin-left: 700px;
}
.content-c {
  background: #17171f;
  height: 100vh;
  padding: 10px;
}
.cont {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 10px;
}
.git {
  display: none;
}

.he {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-size: 50px;
  font-weight: 700;
}
#one {
  display: none;
}

@media screen and (max-width: 768px) {
  .csgo {
    height: 2750px;
    background-color: #13131a;
  }

  .mu {
    display: grid;
    gap: 23px;
  }
  .tex {
    display: none;
  }

  .csgoo {
    display: flex;
    justify-content: center;
    color: antiquewhite;
    font-size: 50px;
    font-weight: 700;
  }
  .content-c {
    height: 1200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
  }
  .cont {
    display: grid;
  }

  .he {
    font-size: 25px;
  }
  #one {
    display: inline-block;
  }
  #two {
    display: none;
  }

  .git {
    display: grid;
    margin-right: 190px;
  }
  /* .linkkk{
    display: flex;
} */
}

/*division 5*/
.contact {
  background-color: #3c4656;
  height: 618px;
}
.had {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-size: 50px;
  font-weight: 700;
  padding-top: 50px;
}

.para {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  color: aquamarine;
  padding-top: 30px;
}
.link2 {
  margin-top: 200px;
  margin-left: 20px;
  color: #18191c;
}
.link2 h1 {
  color: #101318;
}
.btniii {
  /* border: 10px solid red;
    display: flex; */
  display: none;
}
@media screen and (max-width: 768px) {
  .contact {
    height: 400px;
    display: grid;
  }
  .had {
    font-size: 25px;
  }
  .para {
    display: grid;
    font-size: 20px;
    text-align: center;
  }
  .link2 {
    display: none;
  }
  .mubeen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btniii {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    padding: 10px;
    border: 1px solid #0e0f11;
    background-color: #00adb5;
    border-radius: 15px;
  }
}

/* divisio6 */

.last {
  background-color: #1f1f29;
}
.last1 {
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lastimage {
  width: 212px;
  height: 220px;
}
.lh {
  padding-top: 25px;
  color: #fff;
}
.bh {
  color: #fff;
}
.th {
  color: #fff;
}
.rh {
  color: #fff;
}
.rightcontent {
  margin-right: 20px;
}
.leftcontent {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .leftcontent {
    display: grid;
    margin-left: 20px;
  }

  .lastimage {
    display: none;
  }
  .rightcontent {
    display: none;
  }
  .lh {
    font-size: 55px;
    font-weight: 700;
  }
  .th {
    font-size: 26px;
  }
}
