.seconddiv {
    background-color: #3c4656;
    height: 80vh;
    /* overflow: hidden; */
  }
  .imgbtn {
    align-items: flex-end;
    margin-top: 400px;
    margin-right: 400px;
  }
  
  .texttwo {
    color: white;
    margin-left: 29px;
    font-size: 70px;
  }
  .par {
    color: white;
  
    margin: 29px;
    font-size: 45px;
  }
  .sectwobtn {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
  }
  
  #imgbig {
    width: 476px;
    height: 476px;
    /* margin-top: 30px;
      margin-right: 70px; */
  }
  #imgI {
    width: 155px;
    height: 161px;
    /* margin-right: 185px; */
  }
  #imgII {
    width: 155px;
    height: 177px;
  }
  .buttonfour {
    cursor: pointer;
    border: none;
    background-color: #00adb5;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
  }
  
  @media screen and (max-width: 768px) {
    .seconddiv {
      height: 85.5vh;
    }
    #imgbig {
      display: none;
    }
  
    .texttwo {
      font-size: 40px;
    }
  
    .images {
      gap: 20px;
      align-items: center;
      padding: 25px;
    }
  
    .buttonfour {
      width: 148px;
      margin-left: 10px;
    }
    #imgI {
      width: 155px;
      height: 161px;
      align-self: center;
    }
    #imgII {
      width: 155px;
      height: 161px;
    }
    .sectwobtn {
      display: flex;
      justify-content: space-around;
      flex-direction: column-reverse;
    }
    .imgbtn {
      align-items: flex-end;
      margin-top: 65px;
      margin-right: 200px;
    }
  }
  